target/
.snfoundry_cache/
snfoundry_trace/
coverage/
profile/
node_modules/
.DS_Store
deployments/
!legacy/cairo/deployments/
!legacy/cairo/deployments/devnet.json
output/
evm/artifacts/
evm/cache/
evm/typechain/
evm/types/
evm/deployments/
